table.top_menu{
	border-bottom:1px solid #678ec9;
	width:100%;
}

table.top_menu td{
	color:#ffffff;
}

table.top_menu td a{
	background:#678ec9;
	color:#ffffff;
	display:block;
	font-size:.875em;
	padding:.5em;
	text-align:center;
	text-decoration:none;
	white-space:nowrap;
}

table.top_menu td.selected a,
table.top_menu td a:hover{
	background:#85a5d4;
}