.itinerary_search {
  padding: 1em;
  border: solid 1px #CCCCCC;
}

.itinerary_search h2 {
  margin-bottom: .8em;
}

.itinerary_search input[type="text"] {
  font-size: 1.4em;
  padding: .2em;
  border: solid 1px #999999;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) inset, 0 1px 0 #FFFFFF;
  border-radius: 4px 4px 4px 4px;
}

.itinerary_search input[type="text"]:hover {
  border-color: #666666;
}

.itinerary_search input[type="text"]:focus {
  border-color: #56B4EF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) inset, 0 0 8px rgba(82, 168, 236, 0.6);
}

.itinerary_search #is-order {
  width: 6em;
}

.itinerary_search #is-email {
  width: 16em;
}

.itinerary_search input.placeholder {
  font-style: italic;
  color: #AAAAAA;
}

.itinerary_search input:-moz-placeholder {
  font-style: italic;
  color: #AAAAAA;
}

.itinerary_search input::-webkit-input-placeholder {
  font-style: italic;
  color: #AAAAAA;
}

.itinerary_search label {
  display: block;
  padding-bottom: 7px;
  margin-bottom: 0em;
}

.itinerary_search label p {
  margin-bottom: 0em;
}

.itinerary_search .col {
  float: left;
  padding-right: 1em;
}

.itinerary_search input[type="submit"] {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #019AD2;
  background: -moz-linear-gradient(top, #33BCEF 0%, #019AD2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#33BCEF), color-stop(100%,#019AD2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #33BCEF 0%,#019AD2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #33BCEF 0%,#019AD2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #33BCEF 0%,#019AD2 100%); /* IE10+ */
	background: linear-gradient(top, #33BCEF 0%,#019AD2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33BCEF', endColorstr='#019AD2',GradientType=0 ); /* IE6-9  */
  background-repeat: repeat-x;
  border: solid 1px #057ED0;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  font-size: 1.4em;
  border-radius: 4px 4px 4px 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 18px;
  overflow: visible;
  padding: 5px 10px;
  position: relative;
}

.itinerary_search input[type="submit"]:hover,
.itinerary_search input[type="submit"]:focus {
  background-color: #0271BF;
  background-image: -moz-linear-gradient(#2DADDC, #0271BF);
  background-repeat: repeat-x;
  border-color: #096EB3;
  color: #FFFFFF;
}

.itinerary_search input[disabled] {
  background: none;
  border-color: #CCCCCC;
  color: #777777;
  opacity: 0.65;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  box-shadow: none;
  cursor: not-allowed;
}

.itinerary_search input[disabled]:hover,
.itinerary_search input[disabled]:focus {
  background: none;
  border-color: #CCCCCC;
  color: #777777;
}

.itinerary_search .error {
  color: #FF0000;
}

.itinerary_search label .wait {
  background: transparent url(images/loader.white.gif) no-repeat 0% 50%;
  padding-left: 22px;
  min-height: 16px;
}