.cl{
	clear:both;
}

.board_top{}

#content h1.page_title{
	float:left;
	padding-bottom:15px !important;
	white-space:nowrap;
}

.board_top .board-selector,
.board_top .terminal-selector{
	float:right;
	margin-left:2em;
	padding-top:5px;
}

.terminal-selector .terminals{
	display:none;
}

.board_top .board-selector li,
.board_top .terminal-selector li{
	color:#878787;
	cursor:pointer;
	float:left;
	font-size:14px;
	line-height:18px;
	padding:7px 15px;
	position:relative;
	text-shadow:0 1px 0 #fff;
}

.board_top .terminal-selector li.title{
	cursor:default;
}

.board_top .board-selector li.selected,
.board_top .terminal-selector li.selected{
	background:#e1e1e1 url(img/board_selector_bg.png) 0 0 repeat-x;
	border:1px solid #a1a1a1;
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,.27);
	-moz-box-shadow:0 1px 2px rgba(0,0,0,.27);
	box-shadow:0 1px 2px rgba(0,0,0,.27);
	padding:6px 14px;
}

.board_top .board-selector li.selected .arr,
.board_top .terminal-selector li.selected .arr{
	background:transparent url(img/board_selector_arr.png) 50% 0 no-repeat;
	bottom:-10px;
	height:10px;
	left:0;
	position:absolute;
	width:100%;
}

.board_top .board-selector li a,
.board_top .terminal-selector li a{
	color:#878787;
	text-decoration:none;
	text-shadow:0 1px 0 #fff;
}

.sub_menu{
	background:transparent url(img/menu_bg.gif) bottom repeat-x;
	height:41px;
	list-style: none;
	margin: 0 1px -1px;
	padding:0;
	position:relative;
	z-index:10;
}

.sub_menu li {
	float: left;
	list-style: none;
	margin: 0;
	padding-right:11px;
}

.sub_menu li.selected{
	background:transparent url(img/menu_s.gif) 100% 0 no-repeat;
}

.sub_menu li .block {
	color:#abb8cc;
	display:block;
	font-weight:bold;
	height:20px;
	padding:13px 20px 9px;
	text-decoration:none;
}

.sub_menu li.selected .block{
	background:#fff url(img/menu_active_bg.gif) 0 0 repeat-x;
	border:1px solid #fff;
	filter: progid:DXImageTransform.Microsoft.shadow(direction=90, color=#000000, strength=2);
	-webkit-box-shadow:0 -1px 1px rgba(0,0,0,.53);
	-moz-box-shadow:0 -1px 1px rgba(0,0,0,.53);
	box-shadow:0 -1px 1px rgba(0,0,0,.53);
	color:#3c3943;
	padding:12px 19px 8px;
	text-shadow:0 1px 0 #fff;
}

.sub_menu li.selected .block{
	color:#3c3943;
}

.airport-board {
}

.airport-board .update-time {
  color:#666666;
  float:right;
  font-size:1em;
  font-style:italic;
  margin-bottom:.5em;
}

.airport-board h3,
.airport-board .sect_text h3{
  margin:1em 0 0.2em 0;
  font-size:1.6em;
}

.airport-board table{
	clear:both;
	margin-bottom:1em;
	width:100%;
}

.airport-board table th{
	color:#3c3943;
	font-size:1.17em;
	font-weight:bold;
	text-align:left;
	padding:7px 0 7px 10px;
	vertical-align:top;
}

.airport-board table th.flightHeader{
  padding:7px 25px 7px 10px;
  cursor:pointer;
  background:url(img/sort.png) 100% 50% no-repeat;
}

.airport-board table th.flightHeaderSortUp{
  background-image:url(img/sort_asc.png);
}

.airport-board table th.flightHeaderSortDown{
  background-image:url(img/sort_desc.png);
}

.airport-board table th .subtitle{
	font-size:.6em;
	font-weight:normal;
}

.airport-board table th.route{
	padding-right:35px;
}

.airport-board table td{
	color:#3c3943;
	font-size:1em;
	text-align:left;
	padding:7px 0 7px 10px;
	vertical-align:middle;
}

.airport-board table .company{
	background-color:#fff !important;
	background-repeat:no-repeat;
	background-position:5px 50%;
	line-height:16px;
	min-width:70px;
	/*padding-left:25px;*/
}

.airport-board table .flight{
  font-weight:bold;
  white-space:nowrap;
}

.airport-board table .time{
	text-align:center;
	white-space:nowrap;
}

.airport-board table .time .date{
	font-size:.8em;
	display:inline;
	padding-right:.6em;
}

.airport-board table .terminal{
	padding-left:20px;
	text-align:center;
}

.airport-board table .state{
	padding-left:35px;
	padding-right:25px;
}

.airport-board table td.state_r{
	background:url(img/state_r.png) 8px 50% no-repeat;
}

.airport-board table td.state_l{
	background:url(img/state_l.png) 8px 50% no-repeat;
}

.airport-board table td.state_f{
	background:url(img/state_f.png) 8px 50% no-repeat;
}

.airport-board table td{
	border-bottom: solid 1px #f1f1f1;
}

.airport-board table .state_l td,
.airport-board table .state_f td{
	color:#009860;
}

.airport-board table .state_c td{
	color:#f00;
}