table.top_menu{
	border-bottom:1px solid #3168ba;
	width:100%;
}

table.top_menu td{
	color:#c4d5ef;
}

table.top_menu td a{
	background:#3168ba;
	color:#c4d5ef;
	display:block;
	font-size:.85em;
	padding:.5em;
	text-align:center;
	text-decoration:none;
	white-space:nowrap;
}

table.top_menu td.selected a,
table.top_menu td a:hover{
	background:#5b87c8;
}