#home #content .sect_right .catalog-section{
	margin-top:50px;
}

.catalog-section h2.caption{
	background:#3066b8;
	color:#fff;
	font-size:1.125em;
	height:23px;
	margin:0;
	padding:3px .94em;
}

.catalog-section h2.caption a{
	color:#fff;
	text-decoration:none;
}

.catalog-section .sect_text{
	background:#fff;
	border:1px solid #c0c0c0;
	font-size:1em;
	padding:.7em 1em;
}

.catalog-section li{
	color:#3c3943;
	float:left;
	font-size:.687em;
}

.catalog-section li a{
	color:#3c3943;
	text-decoration:underline;
	padding-right:1em;
}

.catalog-section li a:hover{
	text-decoration:none;
}

.catalog-section .elements-list-link{
	color:#3066b8;
	display:block;
	font-size:.687em;
	text-align:right;
	text-transform:lowercase;
}